@charset "UTF-8";

a.myspace-menu.active {
	background: #bbffbb;
	font-weight: bold;
}

a.myspace-menu.disabled {
	text-decoration: line-through;
}

a.myspace-pagenumber.active {
	background: #bbffbb;
	font-weight: bold;
}

a.myspace-pagenumber {
	display: inline-block;
	min-width: 28px;
	text-align: center;
}

span.myspace-error-message {
	color: red;
}

div.myspace-error-block {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

a.disabled {
	color: #AAAAAA;
	cursor: default;
	pointer-events: none;
	text-decoration: none;
}

.myspace-layout-wrapper {
	
}
.myspace-layout {
	padding: 0px 0px 0px 200px;
}
.myspace-layout:after {
	content: "";
	clear: both;
	display: table;
}

.myspace-layout-aside, .myspace-layout-main {
	float: left;
	height: 100%;
}


.myspace-layout-main {
	width: 100%;
}

.myspace-layout-aside {
	width: 190px;
}

.myspace-layout-aside-left {
	margin-left: -200px;
}

.myspace-layout-aside-right {
	margin-right: -230px;
	float: right;
}