<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liqun.dao.IInvMapper" >
  <resultMap id="BaseResultMap" type="com.liqun.entity.IInv" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="POS_ID" property="posId" jdbcType="VARCHAR" />
    <result column="HZ51_ID" property="hz51Id" jdbcType="VARCHAR" />
    <result column="QYBH" property="qybh" jdbcType="VARCHAR" />
    <result column="DJLY" property="djly" jdbcType="INTEGER" />
    <result column="FPLX" property="fplx" jdbcType="INTEGER" />
    <result column="FPTQM" property="fptqm" jdbcType="VARCHAR" />
    <result column="FPLSH" property="fplsh" jdbcType="VARCHAR" />
    <result column="FPDM" property="fpdm" jdbcType="VARCHAR" />
    <result column="FPHM" property="fphm" jdbcType="VARCHAR" />
    <result column="KPSJ" property="kpsj" jdbcType="TIMESTAMP" />
    <result column="FPMW" property="fpmw" jdbcType="VARCHAR" />
    <result column="FWM" property="fwm" jdbcType="VARCHAR" />
    <result column="EWM" property="ewm" jdbcType="VARCHAR" />
    <result column="EWM51" property="ewm51" jdbcType="VARCHAR" />
    <result column="JSHJ" property="jshj" jdbcType="DECIMAL" />
    <result column="HJJE" property="hjje" jdbcType="DECIMAL" />
    <result column="HJSE" property="hjse" jdbcType="DECIMAL" />
    <result column="QDBZ" property="qdbz" jdbcType="INTEGER" />
    <result column="BZ" property="bz" jdbcType="VARCHAR" />
    <result column="PDFXZDZ" property="pdfxzdz" jdbcType="VARCHAR" />
    <result column="GFMC" property="gfmc" jdbcType="VARCHAR" />
    <result column="GFSH" property="gfsh" jdbcType="VARCHAR" />
    <result column="GFDZDH" property="gfdzdh" jdbcType="VARCHAR" />
    <result column="GFYHZH" property="gfyhzh" jdbcType="VARCHAR" />
    <result column="KPR" property="kpr" jdbcType="VARCHAR" />
    <result column="SKR" property="skr" jdbcType="VARCHAR" />
    <result column="FHR" property="fhr" jdbcType="VARCHAR" />
    <result column="QDDYBZ" property="qddybz" jdbcType="INTEGER" />
    <result column="FPCHBZ" property="fpchbz" jdbcType="INTEGER" />
    <result column="HXBZ" property="hxbz" jdbcType="INTEGER" />
    <result column="ZFBZ" property="zfbz" jdbcType="INTEGER" />
    <result column="SWYF" property="swyf" jdbcType="VARCHAR" />
    <result column="SJH" property="sjh" jdbcType="VARCHAR" />
    <result column="FPXZZT" property="fpxzzt" jdbcType="INTEGER" />
    <result column="SYH" property="syh" jdbcType="VARCHAR" />
  </resultMap>
   
  <sql id="Base_Column_List" >
     POS_ID, HZ51_ID, QYBH, DJLY, FPLX, FPTQM, FPLSH, FPDM, FPHM, KPSJ, FPMW, FWM, 
    EWM, EWM51, JSHJ, HJJE, HJSE, QDBZ, BZ, PDFXZDZ, GFMC, GFSH, GFDZDH, GFYHZH, KPR, 
    SKR, FHR, QDDYBZ, FPCHBZ, HXBZ, ZFBZ, SWYF, SJH, FPXZZT, SYH
  </sql>
   <select id="getInvBy" resultType="com.htxx.pojo.i_inv" parameterType="com.liqun.dto.lqinput.searchbill.Input">
   select <include refid="Base_Column_List" />
   from i_inv 
   where fptqm=#{tqm,jdbcType=VARCHAR} and 
   	fplsh=#{lsh,jdbcType=VARCHAR}
   </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_inv
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_inv
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqun.entity.IInv" >
    insert into i_inv (ID, POS_ID, HZ51_ID, 
      QYBH, DJLY, FPLX, FPTQM, 
      FPLSH, FPDM, FPHM, 
      KPSJ, FPMW, FWM, 
      EWM, EWM51, JSHJ, HJJE, 
      HJSE, QDBZ, BZ, PDFXZDZ, 
      GFMC, GFSH, GFDZDH, 
      GFYHZH, KPR, SKR, FHR, 
      QDDYBZ, FPCHBZ, HXBZ, 
      ZFBZ, SWYF, SJH, FPXZZT, 
      SYH)
    values (#{id,jdbcType=INTEGER}, #{posId,jdbcType=VARCHAR}, #{hz51Id,jdbcType=VARCHAR}, 
      #{qybh,jdbcType=VARCHAR}, #{djly,jdbcType=INTEGER}, #{fplx,jdbcType=INTEGER}, #{fptqm,jdbcType=VARCHAR}, 
      #{fplsh,jdbcType=VARCHAR}, #{fpdm,jdbcType=VARCHAR}, #{fphm,jdbcType=VARCHAR}, 
      #{kpsj,jdbcType=TIMESTAMP}, #{fpmw,jdbcType=VARCHAR}, #{fwm,jdbcType=VARCHAR}, 
      #{ewm,jdbcType=VARCHAR}, #{ewm51,jdbcType=VARCHAR}, #{jshj,jdbcType=DECIMAL}, #{hjje,jdbcType=DECIMAL}, 
      #{hjse,jdbcType=DECIMAL}, #{qdbz,jdbcType=INTEGER}, #{bz,jdbcType=VARCHAR}, #{pdfxzdz,jdbcType=VARCHAR}, 
      #{gfmc,jdbcType=VARCHAR}, #{gfsh,jdbcType=VARCHAR}, #{gfdzdh,jdbcType=VARCHAR}, 
      #{gfyhzh,jdbcType=VARCHAR}, #{kpr,jdbcType=VARCHAR}, #{skr,jdbcType=VARCHAR}, #{fhr,jdbcType=VARCHAR}, 
      #{qddybz,jdbcType=INTEGER}, #{fpchbz,jdbcType=INTEGER}, #{hxbz,jdbcType=INTEGER}, 
      #{zfbz,jdbcType=INTEGER}, #{swyf,jdbcType=VARCHAR}, #{sjh,jdbcType=VARCHAR}, #{fpxzzt,jdbcType=INTEGER}, 
      #{syh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liqun.entity.IInv" >
    insert into i_inv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="posId != null" >
        POS_ID,
      </if>
      <if test="hz51Id != null" >
        HZ51_ID,
      </if>
      <if test="qybh != null" >
        QYBH,
      </if>
      <if test="djly != null" >
        DJLY,
      </if>
      <if test="fplx != null" >
        FPLX,
      </if>
      <if test="fptqm != null" >
        FPTQM,
      </if>
      <if test="fplsh != null" >
        FPLSH,
      </if>
      <if test="fpdm != null" >
        FPDM,
      </if>
      <if test="fphm != null" >
        FPHM,
      </if>
      <if test="kpsj != null" >
        KPSJ,
      </if>
      <if test="fpmw != null" >
        FPMW,
      </if>
      <if test="fwm != null" >
        FWM,
      </if>
      <if test="ewm != null" >
        EWM,
      </if>
      <if test="ewm51 != null" >
        EWM51,
      </if>
      <if test="jshj != null" >
        JSHJ,
      </if>
      <if test="hjje != null" >
        HJJE,
      </if>
      <if test="hjse != null" >
        HJSE,
      </if>
      <if test="qdbz != null" >
        QDBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="pdfxzdz != null" >
        PDFXZDZ,
      </if>
      <if test="gfmc != null" >
        GFMC,
      </if>
      <if test="gfsh != null" >
        GFSH,
      </if>
      <if test="gfdzdh != null" >
        GFDZDH,
      </if>
      <if test="gfyhzh != null" >
        GFYHZH,
      </if>
      <if test="kpr != null" >
        KPR,
      </if>
      <if test="skr != null" >
        SKR,
      </if>
      <if test="fhr != null" >
        FHR,
      </if>
      <if test="qddybz != null" >
        QDDYBZ,
      </if>
      <if test="fpchbz != null" >
        FPCHBZ,
      </if>
      <if test="hxbz != null" >
        HXBZ,
      </if>
      <if test="zfbz != null" >
        ZFBZ,
      </if>
      <if test="swyf != null" >
        SWYF,
      </if>
      <if test="sjh != null" >
        SJH,
      </if>
      <if test="fpxzzt != null" >
        FPXZZT,
      </if>
      <if test="syh != null" >
        SYH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="posId != null" >
        #{posId,jdbcType=VARCHAR},
      </if>
      <if test="hz51Id != null" >
        #{hz51Id,jdbcType=VARCHAR},
      </if>
      <if test="qybh != null" >
        #{qybh,jdbcType=VARCHAR},
      </if>
      <if test="djly != null" >
        #{djly,jdbcType=INTEGER},
      </if>
      <if test="fplx != null" >
        #{fplx,jdbcType=INTEGER},
      </if>
      <if test="fptqm != null" >
        #{fptqm,jdbcType=VARCHAR},
      </if>
      <if test="fplsh != null" >
        #{fplsh,jdbcType=VARCHAR},
      </if>
      <if test="fpdm != null" >
        #{fpdm,jdbcType=VARCHAR},
      </if>
      <if test="fphm != null" >
        #{fphm,jdbcType=VARCHAR},
      </if>
      <if test="kpsj != null" >
        #{kpsj,jdbcType=TIMESTAMP},
      </if>
      <if test="fpmw != null" >
        #{fpmw,jdbcType=VARCHAR},
      </if>
      <if test="fwm != null" >
        #{fwm,jdbcType=VARCHAR},
      </if>
      <if test="ewm != null" >
        #{ewm,jdbcType=VARCHAR},
      </if>
      <if test="ewm51 != null" >
        #{ewm51,jdbcType=VARCHAR},
      </if>
      <if test="jshj != null" >
        #{jshj,jdbcType=DECIMAL},
      </if>
      <if test="hjje != null" >
        #{hjje,jdbcType=DECIMAL},
      </if>
      <if test="hjse != null" >
        #{hjse,jdbcType=DECIMAL},
      </if>
      <if test="qdbz != null" >
        #{qdbz,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="pdfxzdz != null" >
        #{pdfxzdz,jdbcType=VARCHAR},
      </if>
      <if test="gfmc != null" >
        #{gfmc,jdbcType=VARCHAR},
      </if>
      <if test="gfsh != null" >
        #{gfsh,jdbcType=VARCHAR},
      </if>
      <if test="gfdzdh != null" >
        #{gfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="gfyhzh != null" >
        #{gfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="kpr != null" >
        #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="qddybz != null" >
        #{qddybz,jdbcType=INTEGER},
      </if>
      <if test="fpchbz != null" >
        #{fpchbz,jdbcType=INTEGER},
      </if>
      <if test="hxbz != null" >
        #{hxbz,jdbcType=INTEGER},
      </if>
      <if test="zfbz != null" >
        #{zfbz,jdbcType=INTEGER},
      </if>
      <if test="swyf != null" >
        #{swyf,jdbcType=VARCHAR},
      </if>
      <if test="sjh != null" >
        #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="fpxzzt != null" >
        #{fpxzzt,jdbcType=INTEGER},
      </if>
      <if test="syh != null" >
        #{syh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqun.entity.IInv" >
    update i_inv
    <set >
      <if test="posId != null" >
        POS_ID = #{posId,jdbcType=VARCHAR},
      </if>
      <if test="hz51Id != null" >
        HZ51_ID = #{hz51Id,jdbcType=VARCHAR},
      </if>
      <if test="qybh != null" >
        QYBH = #{qybh,jdbcType=VARCHAR},
      </if>
      <if test="djly != null" >
        DJLY = #{djly,jdbcType=INTEGER},
      </if>
      <if test="fplx != null" >
        FPLX = #{fplx,jdbcType=INTEGER},
      </if>
      <if test="fptqm != null" >
        FPTQM = #{fptqm,jdbcType=VARCHAR},
      </if>
      <if test="fplsh != null" >
        FPLSH = #{fplsh,jdbcType=VARCHAR},
      </if>
      <if test="fpdm != null" >
        FPDM = #{fpdm,jdbcType=VARCHAR},
      </if>
      <if test="fphm != null" >
        FPHM = #{fphm,jdbcType=VARCHAR},
      </if>
      <if test="kpsj != null" >
        KPSJ = #{kpsj,jdbcType=TIMESTAMP},
      </if>
      <if test="fpmw != null" >
        FPMW = #{fpmw,jdbcType=VARCHAR},
      </if>
      <if test="fwm != null" >
        FWM = #{fwm,jdbcType=VARCHAR},
      </if>
      <if test="ewm != null" >
        EWM = #{ewm,jdbcType=VARCHAR},
      </if>
      <if test="ewm51 != null" >
        EWM51 = #{ewm51,jdbcType=VARCHAR},
      </if>
      <if test="jshj != null" >
        JSHJ = #{jshj,jdbcType=DECIMAL},
      </if>
      <if test="hjje != null" >
        HJJE = #{hjje,jdbcType=DECIMAL},
      </if>
      <if test="hjse != null" >
        HJSE = #{hjse,jdbcType=DECIMAL},
      </if>
      <if test="qdbz != null" >
        QDBZ = #{qdbz,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="pdfxzdz != null" >
        PDFXZDZ = #{pdfxzdz,jdbcType=VARCHAR},
      </if>
      <if test="gfmc != null" >
        GFMC = #{gfmc,jdbcType=VARCHAR},
      </if>
      <if test="gfsh != null" >
        GFSH = #{gfsh,jdbcType=VARCHAR},
      </if>
      <if test="gfdzdh != null" >
        GFDZDH = #{gfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="gfyhzh != null" >
        GFYHZH = #{gfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="kpr != null" >
        KPR = #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        SKR = #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        FHR = #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="qddybz != null" >
        QDDYBZ = #{qddybz,jdbcType=INTEGER},
      </if>
      <if test="fpchbz != null" >
        FPCHBZ = #{fpchbz,jdbcType=INTEGER},
      </if>
      <if test="hxbz != null" >
        HXBZ = #{hxbz,jdbcType=INTEGER},
      </if>
      <if test="zfbz != null" >
        ZFBZ = #{zfbz,jdbcType=INTEGER},
      </if>
      <if test="swyf != null" >
        SWYF = #{swyf,jdbcType=VARCHAR},
      </if>
      <if test="sjh != null" >
        SJH = #{sjh,jdbcType=VARCHAR},
      </if>
      <if test="fpxzzt != null" >
        FPXZZT = #{fpxzzt,jdbcType=INTEGER},
      </if>
      <if test="syh != null" >
        SYH = #{syh,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqun.entity.IInv" >
    update i_inv
    set POS_ID = #{posId,jdbcType=VARCHAR},
      HZ51_ID = #{hz51Id,jdbcType=VARCHAR},
      QYBH = #{qybh,jdbcType=VARCHAR},
      DJLY = #{djly,jdbcType=INTEGER},
      FPLX = #{fplx,jdbcType=INTEGER},
      FPTQM = #{fptqm,jdbcType=VARCHAR},
      FPLSH = #{fplsh,jdbcType=VARCHAR},
      FPDM = #{fpdm,jdbcType=VARCHAR},
      FPHM = #{fphm,jdbcType=VARCHAR},
      KPSJ = #{kpsj,jdbcType=TIMESTAMP},
      FPMW = #{fpmw,jdbcType=VARCHAR},
      FWM = #{fwm,jdbcType=VARCHAR},
      EWM = #{ewm,jdbcType=VARCHAR},
      EWM51 = #{ewm51,jdbcType=VARCHAR},
      JSHJ = #{jshj,jdbcType=DECIMAL},
      HJJE = #{hjje,jdbcType=DECIMAL},
      HJSE = #{hjse,jdbcType=DECIMAL},
      QDBZ = #{qdbz,jdbcType=INTEGER},
      BZ = #{bz,jdbcType=VARCHAR},
      PDFXZDZ = #{pdfxzdz,jdbcType=VARCHAR},
      GFMC = #{gfmc,jdbcType=VARCHAR},
      GFSH = #{gfsh,jdbcType=VARCHAR},
      GFDZDH = #{gfdzdh,jdbcType=VARCHAR},
      GFYHZH = #{gfyhzh,jdbcType=VARCHAR},
      KPR = #{kpr,jdbcType=VARCHAR},
      SKR = #{skr,jdbcType=VARCHAR},
      FHR = #{fhr,jdbcType=VARCHAR},
      QDDYBZ = #{qddybz,jdbcType=INTEGER},
      FPCHBZ = #{fpchbz,jdbcType=INTEGER},
      HXBZ = #{hxbz,jdbcType=INTEGER},
      ZFBZ = #{zfbz,jdbcType=INTEGER},
      SWYF = #{swyf,jdbcType=VARCHAR},
      SJH = #{sjh,jdbcType=VARCHAR},
      FPXZZT = #{fpxzzt,jdbcType=INTEGER},
      SYH = #{syh,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>