<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liqun.dao.MManageMapper" >
  <resultMap id="BaseResultMap" type="com.liqun.entity.MManage" >
    <id column="PZBH" property="pzbh" jdbcType="INTEGER" />
    <result column="QYDM" property="qydm" jdbcType="VARCHAR" />
    <result column="QYMC" property="qymc" jdbcType="VARCHAR" />
    <result column="QYSH" property="qysh" jdbcType="VARCHAR" />
    <result column="QYDZDH" property="qydzdh" jdbcType="VARCHAR" />
    <result column="YHZH" property="yhzh" jdbcType="VARCHAR" />
    <result column="ZDXE" property="zdxe" jdbcType="DECIMAL" />
    <result column="KPR" property="kpr" jdbcType="VARCHAR" />
    <result column="SKR" property="skr" jdbcType="VARCHAR" />
    <result column="FHR" property="fhr" jdbcType="VARCHAR" />
    <result column="BBBH" property="bbbh" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PZBH, QYDM, QYMC, QYSH, QYDZDH, YHZH, ZDXE, KPR, SKR, FHR, BBBH
  </sql>
  <delete id="deleteMManage">
  	delete from m_manage;
  </delete>
  <select id="getMManage" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from m_manage
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_manage
    where PZBH = #{pzbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_manage
    where PZBH = #{pzbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liqun.entity.MManage" >
    insert into m_manage (PZBH, QYDM, QYMC, 
      QYSH, QYDZDH, YHZH, 
      ZDXE, KPR, SKR, FHR, 
      BBBH)
    values (#{pzbh,jdbcType=INTEGER}, #{qydm,jdbcType=VARCHAR}, #{qymc,jdbcType=VARCHAR}, 
      #{qysh,jdbcType=VARCHAR}, #{qydzdh,jdbcType=VARCHAR}, #{yhzh,jdbcType=VARCHAR}, 
      #{zdxe,jdbcType=DECIMAL}, #{kpr,jdbcType=VARCHAR}, #{skr,jdbcType=VARCHAR}, #{fhr,jdbcType=VARCHAR}, 
      #{bbbh,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liqun.entity.MManage" >
    insert into m_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pzbh != null" >
        PZBH,
      </if>
      <if test="qydm != null" >
        QYDM,
      </if>
      <if test="qymc != null" >
        QYMC,
      </if>
      <if test="qysh != null" >
        QYSH,
      </if>
      <if test="qydzdh != null" >
        QYDZDH,
      </if>
      <if test="yhzh != null" >
        YHZH,
      </if>
      <if test="zdxe != null" >
        ZDXE,
      </if>
      <if test="kpr != null" >
        KPR,
      </if>
      <if test="skr != null" >
        SKR,
      </if>
      <if test="fhr != null" >
        FHR,
      </if>
      <if test="bbbh != null" >
        BBBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pzbh != null" >
        #{pzbh,jdbcType=INTEGER},
      </if>
      <if test="qydm != null" >
        #{qydm,jdbcType=VARCHAR},
      </if>
      <if test="qymc != null" >
        #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="qysh != null" >
        #{qysh,jdbcType=VARCHAR},
      </if>
      <if test="qydzdh != null" >
        #{qydzdh,jdbcType=VARCHAR},
      </if>
      <if test="yhzh != null" >
        #{yhzh,jdbcType=VARCHAR},
      </if>
      <if test="zdxe != null" >
        #{zdxe,jdbcType=DECIMAL},
      </if>
      <if test="kpr != null" >
        #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="bbbh != null" >
        #{bbbh,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liqun.entity.MManage" >
    update m_manage
    <set >
      <if test="qydm != null" >
        QYDM = #{qydm,jdbcType=VARCHAR},
      </if>
      <if test="qymc != null" >
        QYMC = #{qymc,jdbcType=VARCHAR},
      </if>
      <if test="qysh != null" >
        QYSH = #{qysh,jdbcType=VARCHAR},
      </if>
      <if test="qydzdh != null" >
        QYDZDH = #{qydzdh,jdbcType=VARCHAR},
      </if>
      <if test="yhzh != null" >
        YHZH = #{yhzh,jdbcType=VARCHAR},
      </if>
      <if test="zdxe != null" >
        ZDXE = #{zdxe,jdbcType=DECIMAL},
      </if>
      <if test="kpr != null" >
        KPR = #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        SKR = #{skr,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        FHR = #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="bbbh != null" >
        BBBH = #{bbbh,jdbcType=INTEGER},
      </if>
    </set>
    where PZBH = #{pzbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liqun.entity.MManage" >
    update m_manage
    set QYDM = #{qydm,jdbcType=VARCHAR},
      QYMC = #{qymc,jdbcType=VARCHAR},
      QYSH = #{qysh,jdbcType=VARCHAR},
      QYDZDH = #{qydzdh,jdbcType=VARCHAR},
      YHZH = #{yhzh,jdbcType=VARCHAR},
      ZDXE = #{zdxe,jdbcType=DECIMAL},
      KPR = #{kpr,jdbcType=VARCHAR},
      SKR = #{skr,jdbcType=VARCHAR},
      FHR = #{fhr,jdbcType=VARCHAR},
      BBBH = #{bbbh,jdbcType=INTEGER}
    where PZBH = #{pzbh,jdbcType=INTEGER}
  </update>
</mapper>